.info {
    margin: auto;
}

#block1, #block2, #block3 {
    width: 33.33333%;
    display: inline-block;
    margin: 0 -2px;
}

#block1 {
    background: url(../img/desing.png) no-repeat;
    background-position: top center;
}

#block2 {
    background: url(../img/crafted.png) no-repeat;
    background-position: top center;
}

#block3 {
    background: url(../img/customize.png) no-repeat;
    background-position: top center;
}

.about {
    background-image: url(../img/about-fon.jpg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    background-repeat: no-repeat;
    padding: 25px 0px 45px;
}

.about__inner {
    max-width: 545px;
}

.about__title {
    padding: 10px 0px 25px;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.about__text {
    margin-bottom: 30px;
    letter-spacing: 0.1px;
    line-height: 24px;
    color: #d3d2d2;
}

.about__btn {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 30px 8px 24px;
    border: 1px solid orange;
    border-right-width: 20px;
    position: relative;
    z-index: 2;
    outline: none;
}

.about__btn:after {
    content: "\203a";
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}

.about__btn:after {
    color: #000;
}

.section {
    background-color: #fff;
    margin: auto;
    text-align: center !important;
}

.section p {
    margin-top: 30px;
    padding: 10px 0px 25px;
    font-size: 24px;
    line-height: 24px;
    color: black;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px !important;
}

.section a {
    text-decoration: none;
}

.btn-black {
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #131313;
    color: #131313;
    padding: 10px 20px;
    display: inline-block;
    margin-top: -50px;
    margin-bottom: 40px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.btn-black:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #131313;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active {
    color: #fff;
}

.btn-black:hover:before,
.btn-black:focus:before,
.btn-black:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}