#form-contact {
    text-align: center;
}

#line2 {
    margin: 30px auto;
    background-color: #ff8b38;
}

#form-float:after {
    display: block;
    content: '';
    clear: both;
}

#form1 {
    width: 50%;
    float: left;
    margin-bottom: 40px;
}

#form2 {
    width: 50%;
    float: right;
    margin-bottom: 80px;
}

#form1 input, #form2 input {
    display: block;
    outline: none;
    width: 285px;
    height: 35px;
    border: 0px solid;
    border-bottom: 1px solid #d6d6d6;
    margin: 35px auto 0;
}

#form1 input:focus, #form2 input:focus {
    border: 1px solid orange;
}

#form2 input {
    text-align: top;
    height: 175px;
}

#form-contact button {

    border-radius: 3px;
    border: medium none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid orange;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.42857;
    background: orange;
    color: #fff;
    font-weight: 700;
    margin-top: 30px;
    text-transform: capitalize !important;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#form-contact button:hover {
    background: black;
    color: #fff;
    border: 1px solid black;
}

#modal {
    display: none;
}

.footer__content {
    background-color: #595959;
    padding: 20px 0px 30px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__inner .header__btn {
    float: none;
    display: inline-block;
}

.footer__map {
    padding-top: 10px;
    max-width: 630px;
    width: 100%;
}

.footer__map iframe {
    width: 100%;
}

.footer__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 36px;
    letter-spacing: 0.5px;
}

.footer__text {
    color: #d3d2d2;
    margin-bottom: 20px;
}

.footer__info {
    max-width: 500px;
}

.footer__info a {
    text-decoration: none;
    display: inline-block;
}

.footer__list {
    padding-top: 10px;
}

.footer__list li {
    margin-top: 10px;
}

.footer__list a {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-left: 33px;
    position: relative;
}

.footer__list a:before {
    content: '\2709';
    position: absolute;
    left: 0;
    color: #ffc222;
    font-family: 'icomoon';
}

.footer__list .footer__phone:before {
    content: "\2706";
    left: 3px;
}

.footer__list .footer__adress:before {
    content: "\27A4";
    left: 3px;
}

.footer__copy {
    background-color: #303030;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 0;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.footer__btn {
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: orange;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    position: relative;
    float: none;
    display: inline-block;
}

.footer__btn:before {
    content: "\270d";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
}

#modal {
    width: 300px;
}

#modal input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#modal input[type="submit"] {
    background-color: #ffc222;
    border: none;
}