section p {
    text-align: left;
}

#portfolio > div {
    margin: 0 auto;
    padding: 1rem 0 3rem 0;
    width: 80%;
    font-size: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
}

.portfolio-item {
    margin: 1rem 0;
}

.portfolio-item:nth-child(2n) p {
    text-align: right;
}

.portfolio-item > img {
    float: left;
    margin: 0 1rem;
    width: 45%;
    border-radius: 3px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.6);
}

.portfolio-item:nth-child(2n) > img {
    float: right;
}

.portfolio-item img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.portfolio-item .name {
    margin: 50px 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
    top: 50%;
}