* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-header {
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background: black;
    display: flex;
    justify-content: space-between;
}

.main-header ul {
    float: right;
    margin: 30px 0;
}

.main-header li {
    list-style: none;
    display: inline-block;
}

.main-header a:hover {
    border-bottom: 1px solid orange;
}

.main-header a {
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    color: white;
    font-weight: 350;
    padding: 0 20px;
}

.main-nav {
    display: inline-block;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    width: 100%;
    background-color: #000;
}

nav:after {
    content: '';
    display: block;
    clear: both;
}

.main-nav__items {
    padding-right: 30px;
}

.logo_1 {
    float: left;
    padding-top: 25px;
    padding-left: 30px;
}

section h2, section p, section h3 {
    font-family: Open Sans;
    font-size: 36px;
    text-align: center;
    color: #212121;
    line-height: 43px;
    font-weight: 400;
    margin: auto;
}


section h2 {
    padding-top: 107px;
    font-family: Raleway;
}


section p {
    font-size: 14px;
    color: #86878b;
    line-height: 20px;
    margin-bottom: 80px;
}

section h3 {
    font-size: 20px;
    color: #333;
    line-height: 20px;
    font-weight: 700;
    margin: 100px auto 30px;
}

#line {
    width: 60px;
    height: 2px;
    background-color: white;
    margin: 5px 10px 32px;
}

button {
    margin: 0 auto 63px;
    width: 135px;
    height: 42px;
    border: 1px solid #fff;
    background: none;
    font-family: Open Sans;
    text-decoration: none;
    font-size: 15px;
    color: orange;
}

footer {
    background: #000;
    text-align: center;
}

footer p {
    font-family: Open Sans;
    font-size: 12px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}

.open {
    display: block !important;
}

.toggle-button {
    width: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 17px;
    padding-bottom: 0;
    vertical-align: middle;
    margin: 0 auto 1px;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.1rem;
    background: white;
    display: block;
    margin: 0.6rem 0;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: black;
    width: 80%;
    height: 100vh;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.mobile-nav__item a:hover {
    border-bottom: 1px solid orange;
}

@media (min-width: 40rem) {
    .toggle-button {
        display: none;
    }
}

@media (max-width: 40rem) {
    .main-nav {
        display: none;
    }

    .main-header {
        height: 82px
    }
}

.section {
    background-color: white;
    margin: auto;
    text-align: center !important;
}

.section p {
    margin-top: 30px;
    padding: 10px 0px 25px;
    font-size: 24px;
    line-height: 24px;
    color: black;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px !important;
    text-align: center;
}

.section a {
    text-decoration: none;
}

.btn-black {
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #131313;
    color: #131313;
    padding: 10px 20px;
    display: inline-block;
    margin-top: -50px;
    margin-bottom: 40px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.btn-black:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #131313;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active {
    color: #fff;
}

.btn-black:hover:before,
.btn-black:focus:before,
.btn-black:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}