header {
    background: url(../img/header.png) no-repeat;
    border-bottom: 1px solid rgb(183, 183, 183);
    background-size: cover;
}

body {
    background-color: #f5f5f5;
}

#logo2 {
    margin: 70px 35px;
}

h1 {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 30px;
}

header p {
    font-family: Raleway;
    text-align: left;
    color: #fff;
    font-size: 14px;
}

header button {
    margin-top: 20px;
}

.documentation {
    padding: 10px 25px;
    border-radius: 3px;
    border: medium none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid orange;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.42857;
    background: orange;
    color: #fff;
    font-weight: 700;
    margin-top: 30px;
    text-transform: capitalize !important;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.documentation a {
    text-decoration: none;
    color: white;
}

.documentation:hover {
    background: black;
    color: #fff;
    border: 1px solid black;
}

#icon {
    float: right;
    display: inline-block;
}

#feedback {
    background-color: white;
}

.comments {
    margin-left: 100px;
}

.comment {
    float: left;
    width: 300px;
    margin-bottom: 80px;
    min-width: 200px;
    margin-left: 80px;
}

.comment img {
    float: left;
}

#feedback:after {
    display: block;
    content: '';
    clear: both;
}

.p-comment {
    background: #f5f5f5;
    height: 100px;
    border-radius: 5px;
    text-align: left;
    font-style: italic;
    padding: 10px;
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 20px solid #f5f5f5;
    margin: -50px 0 15px 80px;
}

.avatar {
    background-image: url(../img/avatar.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 50px;
}

.avatar:hover {
    transform: scaleY(1.2);
}

.avatar h4, .avatar p {
    margin-left: 85px;
}

.avatar h4 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    padding: 15px 0 5px;
}

.avatar p {
    font-size: 14px;
    font-weight: 400;
    color: #86878b;
    text-align: left;
    padding-bottom: 10px;
}

#main-footer {
    background-image: url(../img/fon.png);
    background-size: cover;
    text-align: center;
    margin: 0 auto;
}

#main-footer h2, #main-footer p {
    color: #fff;
}

#main-footer p {
    font-family: Raleway;
    font-size: 16px;
    margin-top: 20px;
}

@media (max-width: 40rem) {
    .comments {
        margin-left: 0;
    }

    .comment {
        margin-left: 20px;
    }
}