header {
    background: url(../img/header.png) no-repeat;
    border-bottom: 1px solid rgb(183, 183, 183);
    background-size: cover;
}

#logo2 {
    margin: 70px 35px;
}

h1 {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 30px;
}

header p {
    font-family: Raleway;
    text-align: left;
    color: #fff;
    font-size: 14px;
}

header button:hover, #sect5 button:hover {
    border: 1px solid #000;
    background: orange;
    color: white;
}

header button {
    margin: 45px 0 140px;
}

#table {
    background: white;
    position: absolute;
    border-radius: 7px;
    width: 300px;
    height: 290px;
    right: 145px;
    top: 200px;
}

#table p {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    font-family: Open Sans;
    color: #333;
    background-color: #d9d9d9;
    padding: 5px 0;
}

#table span {
    color: orange;
}

#table input {
    outline: none;
    width: 270px;
    height: 40px;
    border: 0 solid rgb(214, 214, 214);
    margin: 25px 15px auto;
}

#table input:focus {
    border-bottom: 2px solid orange;

}

#table button {
    width: 300px;
    height: 40px;
    background-color: orange;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid orange;
    position: relative;
    bottom: 25px;
    color: white;
}

#table button:hover {
    background-color: white;
    color: orange;
    border: 1px solid #fff;
}

body {
    background-color: #f5f5f5;
}

#icon {
    float: right;
    display: inline-block;
}

.info {
    margin: auto;
}

#block1, #block2, #block3 {
    width: 33.33333%;
    display: inline-block;
    margin: 0 -2px;
}

#block1 {
    background: url(../img/desing.png) no-repeat;
    background-position: top center;
}

#block2 {
    background: url(../img/crafted.png) no-repeat;
    background-position: top center;
}

#block3 {
    background: url(../img/customize.png) no-repeat;
    background-position: top center;
}

.comment {
    width: 33%;
    float: left;
}

#sect4:after {
    display: block;
    content: '';
    clear: both;
}

.p-comment {
    background: #f5f5f5;
    width: 350px;
    height: 140px;
    border-radius: 5px;
    text-align: left;
    font-style: italic;
    padding: 10px;
}

#triangle-down {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 20px solid #f5f5f5;
    margin: -80px 0 15px 80px;
}

.avatar {
    background-image: url(../img/avatar.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 55px;
}

.avatar h4, .avatar p {
    margin-left: 85px;
}

.avatar h4 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    padding: 15px 0 5px;
}

.avatar p {
    font-size: 14px;
    font-weight: 400;
    color: #86878b;
    text-align: left;
    padding-bottom: 10px;
}

#sect5 {
    background-image: url(../img/fon.png);
    background-size: cover;
    text-align: center;
}

#sect5 h2, #sect5 p, #sect5 h3 {
    color: #fff;
}

#sect5 p {
    font-family: Raleway;
    font-size: 16px;
}

#line_3 {
    margin: 6px 675px 25px;
}